# Writing Your Python Code

**Say "Hello" to the world in Python**

`[Tip]: To execute the Python code in the code cell below, click on the cell to select it and press Shift + Enter.`

In [1]:
# Try your first python code

print('Hello, Neurons.')

Hello, Neurons.

- After executing the cell above, you should see that Python prints `Hello, Neurons` Congratulations on running your Python code!

In [2]:
# Check the Python Version

import sys
print(sys.version)

3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]

To write comments in Python, use the number symbol `#` before writing your comment. When you run your code, Python will ignore everything past the # on a given line.

In [3]:
# print('Hi')

In [4]:
# create a function
def addition(a, b):
    '''
    This is a function is to perform addition operation
    '''
    print('Performing addition operation')
    output = a + b
    print(f'{a} + {b} is =', output)
    return output

In [5]:
addition(2, 1)

Performing addition operation
2 + 1 is = 3

3

In [1]:
a ,b,c,d = 1,2,3,4

In [2]:
a

1

In [3]:
b

2

In [7]:
print(b)

20

Integer type

In [8]:
a = 10 
b = 20 
c = 30 
d = 40

float type

In [9]:
a = 10.22
b = 2.3
c = 34.03

boolean variables

In [27]:
a = True
b = False

In [28]:
type(b)

bool

complex number variable

In [21]:
a = 12 + 6j

In [22]:
a.imag,a.real

(6.0, 12.0)

string variable

In [15]:
a = "ganesh "

In [17]:
type(a)

str

In [18]:
b = 'ganesh hero '

In [19]:
b

'ganesh hero '

In [20]:
type(b)

str

In [1]:
b = True

In [2]:
c = False

In [3]:
b + c

1

In [4]:
b - c

1

In [5]:
B/c

NameError: name 'B' is not defined

In [6]:
b/c #zero divison error

ZeroDivisionError: division by zero

In [10]:
string = " This is my first class for Data Science master's "

In [11]:
string

" This is my first class for Data Science master's "

In [8]:
# how to write multi-line comments in python 
'''Twinkle Twinkle little star how i wonder what you are 
          up above the world so high like a diamond in the sky'''
a = 10

In [9]:
a

10

Concatenation

In [10]:
'ganesh ' + 'Vishwakarma'

'ganesh Vishwakarma'

In [11]:
a = 10 
b = 'Ganesh'

In [13]:
a+b 
# we cannot add different types of variables together it will give error like int & string. it will give the type error.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
b + " " +str(a) # type casting performed int into str.

'Ganesh 10'

In [1]:
# user input from user

In [3]:
a = input ("Enter a integer of your choice from 1-10")

Enter a integer of your choice from 1-10 10

In [4]:
b = input()

 4521

In [5]:
b # here we have taken a integer as an input but we are getting it in a string because 
# by default if we take some input it is string

'4521'

In [6]:
type(b)

str

In [8]:
c = int(input("Enter a integer number")) # this is the correct format for taking a integer input.

Enter a integer number 85

String indexing

In [10]:
name = "Hello"

In [13]:
name[2], name[4]

('l', 'o')

String slicing

In [14]:
s1 = "pwskills"

In [16]:
s1[0:1]

'p'

In [17]:
s1[0:6]

'pwskil'

In [19]:
s1[0:7]

'pwskill'

In [20]:
s1[0:]

'pwskills'

In [21]:
s1[0:900]

'pwskills'

In [23]:
s1[0:800:2]

'psil'